# Defines the Chromium style for automatic reformatting.
# http://clang.llvm.org/docs/ClangFormatStyleOptions.html
# Based on jwinarske/wayland-cxx-scanner .clang-format
BasedOnStyle: Chromium
Standard: c++23
SortIncludes: CaseSensitive
---
Language: ObjC
ColumnLimit: 100
